*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;
}
body{
    background-color: #222;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width:350px;
    /* height:420px; */
    background: linear-gradient(135deg, #00feba, #5b548a);
    align-self: center;
    border-radius:1rem;
    color:white;
    text-align:center;
}
.search{
    /* width:100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:1.25rem;
    position: relative;
}
.close 
{
    position:absolute;
    color:red;
    left:225px;
    cursor:pointer;

}
.search input{
    width:235px;
    height:30px;
    border:none;
    outline:0;
    border-radius: 2rem;
    padding:.5rem;
}
.search button{
    width:45px;
    height:45px;
    border:none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search button img{
    width:1rem;
}
.error{
    text-align: left;
    margin-left:1.75rem;
    margin-top:-.5rem;
    font-size: 14px;
    display:none;
}

.wheather img{
    width:100px;
}
.wheather h1{
    font-size:2.5rem;
}
.wheather h2{
    font-size:1.5rem;
}
.detail{
    
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:2rem;
    /* margin-top : 6rem; */
}
.detail .col{
    height:100px;
    display:flex;
    justify-content: center;
    align-items: center;
}
.detail .col img{
    width:2rem;
    height:1.75rem;
    margin-top:.25rem;
    margin-right:.5rem;
}
.detail .col .percent{
    font-size: 1rem;
    font-weight: 500;
}
.detail .col .name{
    font-size:.75rem;
    font-weight:400;
}
.wheather{
    display:none;
}

@media  screen and (max-width: 600px) {
    .card{
        height:100vh;
        width:100%;
        border-radius: 0;
    }
    .detail{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
    }
    .detail .col{
        margin-bottom: 2rem;
    }
    /* .column1 img{
        width: 5rem;
    }
    .column1 .percent{
        font-size: 1.5rem;
        font-weight: 500;
    }
    .column1 .name{
        font-size:.75rem;
        font-weight:500;
    } */
}